/*
 *  Flex Layout Specifics
*/
.bracket{
	display:flex;
	flex-direction:row;
	justify-content: center;
  }
  .round{
	display:flex;
	flex-direction:column;
	justify-content:center;
	/* width:20vw; */
	list-style:none;
	padding:0;
	/* font-size: 1.5rem; */
  }
	.round .spacer{ flex-grow:1;}
	.round .spacer:first-child,
	.round .spacer:last-child{ flex-grow:.5; }
	.round .game-spacer{
	  flex-grow:1;
	}
  
  /*
   *  General Styles
  */
/* body{
	font-family:sans-serif;
	font-size:medium;
	padding:10px;
	line-height:1.4em;
  } */
  
  li.game{
	padding-left:20px;
  }
	
	.winner{
		color:green;
		font-weight: bold;
	}
	.loser{
		color:grey;
	}
  
	li.game-top{ border-bottom:1px solid #aaa; }
  
	li.game-spacer{ 
	  border-right:1px solid #aaa;
	  min-height:10vh;
	}
  
	li.game-bottom{ 
	  border-top:1px solid #aaa;
	}
  